.controls, .log {
  border: 1px solid #ccc;
  box-shadow: 0 3px 6px #ccc;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}

.turn {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.log ul {
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;

  li {
    margin: 5px;
    padding: 5px;
  }

  .player-turn {
    background: #e4e8ff;
    color: blue;
  }

  .monster-turn {
    background: #ffc0c1;
    color: red;
  }
}

.button {
  appearance: none;
  background: #eee;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 1px black;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  padding: 12px;
  text-transform: uppercase;
  transition: background-color 200ms ease;

  &:hover {
    transition-duration: 100ms;
  }
}

.button--start {
  background: #aaffb0;

  &:hover {
    background-color: #76ff7e;
  }
}

.button--attack {
  background: #ff7367;

  &:hover {
    background-color: #ff3f43;
  }
}

.button--special-attack {
  background: #ffaf4f;

  &:hover {
    background-color: #ff9a2b;
  }
}

.button--heal {
  background: #aaffb0;

  &:hover {
    background-color: #76ff7e;
  }
}

.button--give-up {
    background: #fff;

    &:hover {
      background-color: #c7c7c7;
    }
}

.button:disabled {
  background: #eee;
  cursor: default;
}
